/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

/* Basic Styles */
body {
  background-color: #ece8e5;
}
nav {
  height: 40px;
  width: 100%;
  background: #455868;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
  position: relative;
  border-bottom: 2px solid #283744;
}
nav ul {
  padding: 0;
  margin: 0 auto;
  width: 600px;
  height: 40px;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  text-shadow: 1px 1px 0px #283744;
}
nav li a {
  border-right: 1px solid #576979;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}
nav a:hover, nav a:active {
  background-color: #8c99a4;
}
nav a#pull {
  display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
  nav { 
      height: auto;
    }
    nav ul {
      width: 100%;
      display: block;
      height: auto;
    }
    nav li {
      width: 50%;
      float: left;
      position: relative;
    }
    nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
    }
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    background-color: #283744;
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:"";
    background: url('nav-icon.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #576979;
  }
}

.cannibal {
  display: inline-block;
}

.deicide {
  display: inline-block;
}

.death {
  display: inline-block;
}

h1,
h3,
p {
  color: red;
}

body {
  background-image: url("http://img11.deviantart.net/2829/i/2009/326/7/2/devil_horns_by_plug_in_music_baby.jpg");
}

html {
    -wekit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -wekit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.debug {
    border: 0px solid orange;
}

.lis-n { list-style: none;}

.d-b { display: block;}

.p-sm { padding: 1em;}

/* BEM elements */

/* block */
.responsive-nav {

}

/* element */
.responsive-nav li {

}

/* element */
.responsive-nav__link {
    display: block;
    padding: 1em;
}

/* modifier */
.responsive-nav__link--active {
    
}

.container,
.row,
.col {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
    https://css-tricks.com/snippets/css/clear-fix/
*/
.container:after,
.row:after,
.col:after {
    content: "";
    display: table;
    clear: both;
}

/*
    mobile container leaves some whitespace on the sides
*/
.container {
    width: 90%;
    margin: 0 auto;
}

/*
    set bottom padding if desired
*/
.row {
    padding-bottom: 0;
}

/*
    default column styles
*/
.col {
    display: block;
    float: left;
    width: 100%;
}

/*
    tablet columns
*/
/* 800px */
@media (min-width: 50em) {
    .container {
        width: 45em; /* 720px */
    }

    .gutters-t .col {
        margin-left: 2%;
    }

    .gutters-t .col:first-child {
        margin-left: 0;
    }

    .span-1-t {  width: 8.333%; }
    .span-2-t {  width: 16.666%; }
    .span-3-t {  width: 25%; }
    .span-4-t {  width: 33.333%; }
    .span-5-t {  width: 41.666%; }
    .span-6-t {  width: 50%; }
    .span-7-t {  width: 58.333%; }
    .span-8-t {  width: 66.666%; }
    .span-9-t {  width: 75%; }
    .span-10-t { width: 83.333%; }
    .span-11-t { width: 91.666%; }
    .span-12-t { width: 100%; }

    .gutters-t .span-1-t {  width: 6.5%; }
    .gutters-t .span-2-t {  width: 15%; }
    .gutters-t .span-3-t {  width: 23.5%; }
    .gutters-t .span-4-t {  width: 32%; }
    .gutters-t .span-5-t {  width: 40.5%; }
    .gutters-t .span-6-t {  width: 49%; }
    .gutters-t .span-7-t {  width: 57.5%; }
    .gutters-t .span-8-t {  width: 66%; }
    .gutters-t .span-9-t {  width: 74.5%; }
    .gutters-t .span-10-t { width: 83%; }
    .gutters-t .span-11-t { width: 91.5%; }
    .gutters-t .span-12-t { width: 100%; }
}

/*
    desktop columns
*/
/* 1200px */
@media (min-width: 75em) {
    .container {
        width: 64em; /* 1024px */
    }

    .gutters-t .col {
        margin-left: 0;
    }

    .gutters-d .col {
        margin-left: 2%;
    }

    .gutters-d .col:first-child {
        margin-left: 0;
    }

    .gutters-t .span-1-d, .span-1-d {   width: 8.333%; }
    .gutters-t .span-2-d, .span-2-d {   width: 16.666%; }
    .gutters-t .span-3-d, .span-3-d {   width: 25%; }
    .gutters-t .span-4-d, .span-4-d {   width: 33.333%; }
    .gutters-t .span-5-d, .span-5-d {   width: 41.666%; }
    .gutters-t .span-6-d, .span-6-d {   width: 50%; }
    .gutters-t .span-7-d, .span-7-d {   width: 58.333%; }
    .gutters-t .span-8-d, .span-8-d {   width: 66.666%; }
    .gutters-t .span-9-d, .span-9-d {   width: 75%; }
    .gutters-t .span-10-d, .span-10-d { width: 83.333%; }
    .gutters-t .span-11-d, .span-11-d { width: 91.666%; }
    .gutters-t .span-12-d, .span-12-d { width: 100%; }

    .gutters-d .span-1-d {  width: 6.5%; }
    .gutters-d .span-2-d {  width: 15%; }
    .gutters-d .span-3-d {  width: 23.5%; }
    .gutters-d .span-4-d {  width: 32%; }
    .gutters-d .span-5-d {  width: 40.5%; }
    .gutters-d .span-6-d {  width: 49%; }
    .gutters-d .span-7-d {  width: 57.5%; }
    .gutters-d .span-8-d {  width: 66%; }
    .gutters-d .span-9-d {  width: 74.5%; }
    .gutters-d .span-10-d { width: 83%; }
    .gutters-d .span-11-d { width: 91.5%; }
    .gutters-d .span-12-d { width: 100%; }
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
